.skills {
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
  margin-bottom: 50px;
}

.skill_title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 30px;
  color: #5f5f5f;
}

.skill_title::before {
  content: "";
  position: absolute;
  width: 250px;
  bottom: 0;
  left: 50%;
  height: 3px;
  background: #5f5f5f;
  transform: translateX(-50%);
}
.skill_title::after {
  content: "Jetez un coup d'œil";
  font-size: 17px;
  color: #fca311;
  position: absolute;
  bottom: -15px;
  left: 50%;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

.skills_content {
  padding: 0 20px;
}

.skill_text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
  text-align: center;
  color: #5f5f5f;
}

.skill_text span {
  color: #fca311;
}
.skill_left p {
  color: #535353;
  font-size: 17px;
  margin-bottom: 10px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.skill_info {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill_bars {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.skill_bars.animate {
  opacity: 1;
  transform: translateY(0);
}

.skill_line {
  position: relative;
  height: 7px;
  width: 100%;
  background: lightgray;
  border-radius: 5px;
  overflow: hidden;
}

.skill_line::before {
  content: "";
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 0; /* Commencer à 0% */
  left: 0;
  top: 0;
  transition: width 1s ease-in-out;
}

.skill_bars.animate .skill_line::before {
  /* L'animation s'activera quand la classe animate est ajoutée */
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.skill_right {
  color: #535353;
}
.skill_bars.animate .html::before {
  width: 90%;
  background-color: #fca311;
}

.skill_bars.animate .css::before {
  width: 85%;
  background-color: #5f5f5f;
}
.skill_bars.animate .js::before {
  width: 90%;
  background-color: #fca311;
}
.skill_bars.animate .ts::before {
  width: 80%;
  background-color: #5f5f5f;
}
.skill_bars.animate .react::before {
  width: 75%;
  background-color: #5f5f5f;
}
.skill_bars.animate .vue::before {
  width: 85%;
  background-color: #fca311;
}
.skill_bars.animate .nest::before {
  width: 60%;
  background-color: #5f5f5f;
}
.skill_bars.animate .seo::before {
  width: 90%;
  background-color: #fca311;
}
.skill_bars.animate .mysql::before {
  width: 70%;
  background-color: #5f5f5f;
}
.skill_bars.animate .press::before {
  width: 80%;
  background-color: #5f5f5f;
}
.skill_bars.animate .postgres::before {
  width: 50%;
  background-color: #fca311;
}
.skill_bars.animate .graphql::before {
  width: 75%;
  background-color: #fca311;
}
.skill_bars.animate .version::before {
  width: 85%;
  background-color: #5f5f5f;
}

@media screen and (min-width: 720px) {
  .skills_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skill_right {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  .skill_left {
    margin-right: 30px;
  }

  .skill_left p {
    font-size: 18px;
  }

  .skill_text {
    font-size: 35px;
  }
}

@media screen and (min-width: 1228px) {
  .skills {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
