.devi {
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
  background: #ffffff;
  color: #fff;
  padding-bottom: 80px;
}

.devi_title_service {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 30px;
  color: #fca311;
}

.devi_title_service::before {
  content: "";
  position: absolute;
  width: 250px;
  bottom: 0;
  left: 50%;
  height: 3px;
  background: #fca311;
  transform: translateX(-50%);
}
.devi_title_service::after {
  content: "What we offer";
  font-size: 18px;
  color: rgb(43, 43, 43);
  position: absolute;
  bottom: -15px;
  left: 50%;
  padding: 5px;
  background: #ffffff;
  transform: translateX(-50%);
}

.devi_content {
  padding: 0 20px;
}

.devi_card {
  background: #2d2d2d;
  text-align: center;
  border-radius: 6px;
  padding: 20px 30px;
  margin: 20px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.devi_card:hover {
  transform: scale(1.05);
  background: #fca311;
  color: #2d2d2d;
}

.devi_text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
}
.price {
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 760px) {
  .devi_card {
    width: 300px;
  }
  .devi_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .devi_card {
    width: 350px;
  }
  .devi_max_width {
    max-width: 1334px;
  }
  .devi {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1228px) {
  .devi {
    height: 100vh;
  }
}
